@(message: String, user: models.database.UserRow, iframeSrcUrl: String)

@doc(message,user) {
    <div id='main-content'>

        <div id='main-content-upload'>
            <div class='container'>
                <div class="row" >
                    <div class='col-sm-12'>

                        <div class="row-fluid">
                            <iframe id='apidoc' src="@iframeSrcUrl" ></iframe>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>
}