@(message: String, user: database.UserRow)

@doc(message, user){
    <div id='main-content'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-push-9 col-sm-push-8 col-sm-4 col-md-3'>
                    
                </div>
                <div class='col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9'>
                    <div class='text-boxes'>
                        <div class='row text-box text-box-title-above text-box-big-image'>
                            <div class='col-sm-12'>
                                <h2 class='title'><a href="/blog_single_post.html">Intel Analytics Graph Trial API Documentation</a></h2>

                                <hr class='hr-half'>
                            </div>
                        </div>
                        <div class='row text-box'>
                            <div class='col-sm-12'>
                                    <h2>Intel Analytics API Documentation</h2>

                                    <p>Intel Analytics is also a scaleable product for making graphs. It supports XML, JSON, CSV, and text files. This is a more fully featured, and proprietary product. Intel Analytics is a Python based product.</p>

                                    <p>
                                    You can find the Python API documentation for the Intel Analytics
                                    product <a class="light-link" href="documentation/pythonapi">here</a>.
                                    You can use these API calls to configure and run the Intel Analytics
                                    product. </p>

                                    <p>
                                    We also have an Installation Guide, and a User Guide for Intel
                                    Analytics.</p>
                            </div>
                        </div>
                        



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>
    </div>
}