/bin
build
BUILD
*.class
.classpath
*clean*.sh
data
dist
download
git
.idea
*/.idea/tasks.xml
*/.idea/workspace.xml
*.iml
largegit.sh
make.sh
.metadata*
*parse*.sh
*partition*.sh
pig_*.log
.project
*.pyc
*.rpm
sdhu.xml
stats
*.swo
*.swp
target
*.tar.gz
testgraphs
*.zip