*~
application.home_IS_UNDEFINED
atlassian-ide-plugin.xml
/bin
build
BUILD
.cache
*.class
.classpath
*clean*.sh
cscope*
data
dependency-reduced-pom.xml
dev.conf
*.diff
dist
download
.ensime*
git
.idea
*/.idea/tasks.xml
*/.idea/workspace.xml
*.iml
*.jar
largegit.sh
logback.xml
make.sh
.metadata*
*.orig
*parse*.sh
*partition*.sh
*.patch
patches-*
pig_*.log
.project
*.pyc
/python/cover/
/python/.coverage
/python/intelanalytics/connections.py*
/python/intelanalytics/core/autoframe.py
/python/intelanalytics/core/autograph.py
/python/intelanalytics/core/docstubs.py*
/python/nosetests.xml
scratch.py
sdhu.xml
stats
*.swo
*.swp
tags
TAGS
target
*.tar.gz
testgraphs
virtpy
*.zip
