dev.conf
application.home_IS_UNDEFINED
/bin
build
BUILD
.cache
*.class
.classpath
*clean*.sh
data
dist
download
git
.idea
*/.idea/tasks.xml
*/.idea/workspace.xml
*.iml
/IntelAnalytics/.coverage
/IntelAnalytics/cover/
/IntelAnalytics/nosetests.xml
largegit.sh
make.sh
.metadata*
*parse*.sh
*partition*.sh
pig_*.log
.project
*.pyc
*.rpm
sdhu.xml
stats
*.swo
*.swp
target
*.tar.gz
testgraphs
*.zip
graphbuilder/graphbuilder.iml
cscope*
tags
*.patch
*.diff
patches-*
*/dependency-reduced-pom.xml
virtpy
lib
*.jar
*.orig
