@(message: String, user: models.database.UserRow)

@mainLoggedIn(message, user) {

         <div id='main-content'>
          <div class='container'>
            <div class='row'>
              <div class='col-md-push-9 col-sm-push-8 col-sm-4 col-md-3'>
                <nav class='sidebar'>
                  <button class='btn btn-block btn-contrast sidebar-toggle' data-target='.sidebar-collapse' data-toggle='collapse' type='button'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                  </button>
                  <div class='sidebar-collapse collapse'>
                    <div class='box'>
                      <h3 class='title'>Search API Documentation</h3>
                      <form action='blog_large.html' method='get'>
                        <div class='input-group'>
                          <input class='form-control' placeholder='Search...' type='text'>
                          <span class='input-group-btn'>
                            <button class='btn btn-contrast' type='button'>
                              <i class='fa-icon-search'></i>
                            </button>
                          </span>
                        </div>
                      </form>
                    </div>
                    <div class='box'>
                      <h3 class='title'>Categories</h3>
                      <div class='list-group'>
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Quisque et fringilla
                        </a>
                      
                          <a class="list-group-item active" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Etiam bibendum
                        </a>
                      
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Vestibulum
                        </a>
                      
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Mauris gravida
                        </a>
                      
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Magna dui
                        </a>
                      
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Adipiscing elementum
                        </a>
                       <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Quisque et fringilla
                        </a>
                      
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Etiam bibendum
                        </a>
                      
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Vestibulum
                        </a>
                      
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Mauris gravida
                        </a>
                      
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Magna dui
                        </a>
                      
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Adipiscing elementum
                        </a> <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Quisque et fringilla
                        </a>
                      
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Etiam bibendum
                        </a>
                      
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Vestibulum
                        </a>
                      
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Mauris gravida
                        </a>
                      
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Magna dui
                        </a>
                      
                          <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                        Adipiscing elementum
                        </a>
                      </div>
                    </div>
                    
                    
                  </div>
                </nav>
              </div>
              <div class='col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9'>
                <div class='text-boxes'>
                  <div class='row text-box text-box-title-above text-box-big-image'>
                    <div class='col-sm-12'>
                      <h2 class='title'><a href="/blog_single_post.html">Intel Analytics Graph Trial API Documentation</a></h2>
                     
                      
                      <hr class='hr-half'>
                    </div>
                  </div>
                  <div class='row text-box'>
                    <div class='col-sm-12'>
                      <h2>Lorem ipsum dolor sit amet</h2>
                      <p>Praesent sed viverra lacus. Aliquam congue porttitor ipsum sed vulputate. Nam lacus nunc, malesuada a massa sed, commodo placerat sem. Fusce rutrum bibendum adipiscing. Donec ac justo et metus vulputate faucibus. Mauris quis massa vel urna gravida vulputate vitae eu metus. Sed in leo sed metus tempus egestas a ac massa. Nunc cursus urna ac molestie cursus. Donec non sapien neque.</p>
                      <p>Ut ipsum nisi, tempus ac iaculis ac, ultricies quis arcu. Integer tempor vitae lectus quis gravida. Mauris eget neque in lorem eleifend hendrerit vel et ligula. Ut ac viverra neque. In ullamcorper odio nec odio laoreet tempus. Cras eu sem eu purus posuere sagittis. In at dignissim quam. Pellentesque mollis, mi et condimentum hendrerit, felis justo interdum nulla, sed placerat nulla nibh et metus.</p>
                      <h2>Aliquam erat volutpat</h2>
                      <p>Etiam ac consectetur dui, id mollis neque. Phasellus rutrum augue nec convallis bibendum. Etiam vitae aliquam leo, laoreet venenatis massa. Aliquam erat volutpat. Fusce rutrum augue sit amet lobortis tempor. Duis ut malesuada augue, vel fringilla ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a justo sed tortor vehicula fringilla eget ut diam. Praesent posuere aliquam vulputate. Donec porta mi vitae felis interdum congue. Sed vitae rhoncus massa, volutpat ultrices felis. Proin eu ullamcorper urna. Nullam eu mi vel metus faucibus mollis. Nulla rutrum fermentum dui quis ullamcorper. Integer metus nunc, interdum non libero a, semper fringilla ligula.</p>
                    </div>
                  </div>
                   <div class='row text-box'>
                    <div class='col-sm-12'>
                      <h2>Lorem ipsum dolor sit amet</h2>
                      <p>Praesent sed viverra lacus. Aliquam congue porttitor ipsum sed vulputate. Nam lacus nunc, malesuada a massa sed, commodo placerat sem. Fusce rutrum bibendum adipiscing. Donec ac justo et metus vulputate faucibus. Mauris quis massa vel urna gravida vulputate vitae eu metus. Sed in leo sed metus tempus egestas a ac massa. Nunc cursus urna ac molestie cursus. Donec non sapien neque.</p>
                      <p>Ut ipsum nisi, tempus ac iaculis ac, ultricies quis arcu. Integer tempor vitae lectus quis gravida. Mauris eget neque in lorem eleifend hendrerit vel et ligula. Ut ac viverra neque. In ullamcorper odio nec odio laoreet tempus. Cras eu sem eu purus posuere sagittis. In at dignissim quam. Pellentesque mollis, mi et condimentum hendrerit, felis justo interdum nulla, sed placerat nulla nibh et metus.</p>
                      <h2>Aliquam erat volutpat</h2>
                      <p>Etiam ac consectetur dui, id mollis neque. Phasellus rutrum augue nec convallis bibendum. Etiam vitae aliquam leo, laoreet venenatis massa. Aliquam erat volutpat. Fusce rutrum augue sit amet lobortis tempor. Duis ut malesuada augue, vel fringilla ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a justo sed tortor vehicula fringilla eget ut diam. Praesent posuere aliquam vulputate. Donec porta mi vitae felis interdum congue. Sed vitae rhoncus massa, volutpat ultrices felis. Proin eu ullamcorper urna. Nullam eu mi vel metus faucibus mollis. Nulla rutrum fermentum dui quis ullamcorper. Integer metus nunc, interdum non libero a, semper fringilla ligula.</p>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-sm-12'>
                      <div class='author-box'>
                        <div class='row'>
                          <div class='col-sm-3 col-lg-2'>
                            <img alt="Author" width="165" height="165" class="img-circle img-responsive center-block" src="http://placehold.it/165x165" />
                          </div>
                          <div class='col-sm-9 col-lg-10'>
                            <h3 class='title'>About author</h3>
                            <p>Etiam ac consectetur dui, id mollis neque. Phasellus rutrum augue nec convallis bibendum. Etiam vitae aliquam leo, laoreet venenatis massa. Aliquam erat volutpat. Fusce rutrum augue sit amet lobortis tempor.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                     
                     
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa-icon-chevron-up'></i>
        </div>
      </div>
}