@(user: models.database.UserRow)

<header id='header'>
    <div class='container'>
        <nav class='navbar navbar-default' id='nav' role='navigation'>
            <div class='navbar-header'>
                <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' href='/'>
                    <img class='logo' alt="intelanalytics" src="assets/images/tribeca_logo_10-2.png" />
                </a>
            </div>
            @menu(user)
        </nav>
    </div>
</header>