@()
<footer id='footer' >
    <div id='footer-front'  >
        <div class='container'>

                   
                    <div class='col-sm-12 col-xs-12 col-lg-12'>
                        <p><img class='intel-logo-footer' src='assets/images/logo-intel.png'>Copyright &copy; 2013 Intel. All Rights Reserved.  | 
					
                        <a href='#'>  Privacy Policy<a/> <a href='#'>Cookie Policy</a></p>
                    </div>

                   


        </div>
    </div>
</footer>