@()

<script src="@routes.Assets.at("javascripts/jquery/jquery.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery/jquery.mobile.custom.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/modernizr/modernizr.custom.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/hover_dropdown/twitter-bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/retina/retina.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/validate/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/flexslider/jquery.flexslider.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/lightbox/lightbox.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/cycle/jquery.cycle.all.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/Tribeca.js")" type="text/javascript"></script>