@()

<div class='collapse navbar-collapse navbar-header-collapse'>
    <ul class='nav navbar-nav navbar-right'>


        <li class='dropdown'>
            <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
                <span>
                    Support

                </span>
            </a>

        </li>
        <li class='dropdown'>
            <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='modal' href='#myModal'>
                <span>
                    Sign Up For Beta Release
                </span>
            </a>
        </li>
        <li class='dropdown'>
            <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='modal' href='#LoginModal'>
                <span>
                    Sign In
                </span>
            </a>
        </li>
    </ul>
</div>