<!-- Registration Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sign Up For Beta Release</h4>
            </div>
            <div class="modal-body">
                <div class='row'>
                    <div class='col-sm-12  '>
                        @*<form class='DA_custom_form' method="post" action="register" id="registration-form" onsubmit="">*@
                            <fieldset class='row'>
                                <div class='col-sm-12 mg-b-md DA_holder'>

                                    <div class='lead'>Intel®Analytics Beta Registration<div class='imglead'><img class='imglead' alt="intelanalytics" src="assets/images/logo-intel.png" /></div></div>

                                    <small class='text-muted'>Thank you for signing up for our invite-only beta test group. After you fill out the simple form below, we can verify your identity as a human being and analyze your request. You will receive a response with your approval which is based on availability!</small>
                                    </div>
                                    <form method="post" class="DA_custom_form" id="registration-form" action="register">
            <div class="DA_holder horizontal">

                <label>Your Name</label>
                <div class="DA_field_container">
                    <input type="text" class="field" id="myname" name="name" />
                    <span><i class="fa-icon-remove"></i></span>
                </div>  
            </div>  

            <div class="DA_holder horizontal">

                <label>Company Name</label>
                <div class="DA_field_container">
                    <input type="text" class="field" id="companyname" name="organization_name" />
                    <span><i class="fa-icon-remove"></i></span>
                </div>  
            </div>  
            
            <div class="DA_holder horizontal">
                <label>Phone Number</label>
                <div class="DA_field_container">
                    <input type="text" class="field" id="phone_us" name="organization_phone" />
                    <span><i class="fa-icon-remove"></i></span>
                </div>
            </div>

            

            <div class='DA_holder DA_select_holder '>
                <label>How Experienced are you in Machine Learning?</label>
                <div class='select_wrap'>
                    <select class='select_field' id='experience' name='experience'>
                        <option value=''>What is Your Level of Experience?</option>
                        <option value='1'>This is new to me - 1</option>
                        <option value='2'>I have some experience - 2</option>
                        <option value='3'>I'm experienced - 3</option>
                        <option value='4'>I've used it extensively - 4</option>          
                        <option value='5'>I consider myself an expert - 5</option>

                    </select>
                </div>    
            </div>

            <div class='DA_holder DA_select_holder '>
                <label>What Best Describes Your Role at Your Company or Institution?</label>
                <div class='select_wrap'>
                    <select class='select_field' id='role' name='role'>
                        <option value=''>What is Your Role in Your Company?</option>
                        <option value='datascientist'>Data Scientist/Programmer</option>
                        <option value='analyst'>Business Analyst</option>
                        <option value='it-department'>IT Department</option>
                        <option value='researcher'>Researcher</option>
                        <option value='student'>Student</option>
                        <option value='marketing'>Marketing</option>
                        <option value='management'>Management</option>
                        <option value='other'>Other</option>
                    </select>
                </div>    
            </div>
            <div class='DA_holder '>
                <label>Why do you Want to Participate in This Beta Test?</label>
                <div class='textarea-frame'>
                    <div class="cl">&nbsp;</div>
                        <textarea name="whyParticipate" id="message1" class="field" rows="8" cols="40"></textarea>
                    <div class="cl">&nbsp;</div>
                </div>    
            </div>
            <div class='DA_holder '>
                <label>What tools for graph or machine learning are you currently using or evaluating?</label>
                <div class='textarea-frame'>
                    <div class="cl">&nbsp;</div>
                        <textarea name="whatTools" id="message2" class="field" rows="8" cols="40"></textarea>
                    <div class="cl">&nbsp;</div>
                </div>    
            </div>           

            <div class="DA_holder DA_check_holder ">
               <div class='cl'>&nbsp;</div>
                    <input type="checkbox" class="check-box" id="terms" name="terms"  />
                    <label for="remember" class="fl">I have read the terms of use</label>              
                    <div class="terms" >
 These are the terms of use. It includes a NDA agreement which will be added to this box at the point when it is written.  These are the terms of use. It includes a NDA agreement which will be added to this box at the point when it is written.
 These are the terms of use. It includes a NDA agreement which will be added to this box at the point when it is written.
                     </div>
               <div class='cl'>&nbsp;</div>

            </div>
    
            <div class="cl">&nbsp;</div>
            <div class="modal-footer">
                     <div id='googleRegisterButton' class="btnp"><input type="submit"  value="Sign Up With Google +" /></div>

                        </div>
                        <input id="registerAuthResult" type="hidden" name="authResult" value="" />
                        </form>
                     </fieldset>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->