@()
<!-- Support Modal -->
<div class="modal fade" id="supportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Tribeca Beta Release Support Form</h4>
                
            </div>
            <div class="modal-body">
                <div class='row'>
                    <div class='col-sm-12'>
                       
                            <fieldset class='row'>
                              
                                <form class='DA_custom_form' method="post"  class="DA_custom_form" id="feedback-form" >

                                        <div class="DA_holder">
                                            <label>Subject</label>
                                            <div class="DA_field_container">
                                                <input type="text" class="field" id="subject" name="subject" />
                                            </div>
                                        </div>
                                        
                                        <div class="DA_holder">
                                            <label>How Can We Help You?</label>
                                            <div class="textarea-frame">
                                                
                                                <textarea name="support_message" id="support_message" class="field" rows="8" cols="40"></textarea>
                                            </div>
                                        <div class="modal-footer">
                                        <div class="btnp"><input type="submit" value="Send Message" /></div>
                                        </div>
                                </form>
                            </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->