<!-- Support Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Tribeca Beta Release Support Form</h4>
            </div>
            <div class="modal-body">
                <div class='row'>
                    <div class='col-sm-12'>

                        <form action='#' class='form form-validation' method='get'>
                            <div class='row'>
                                <div class='col-sm-6'>
                                    <div class='form-group control-group'>
                                        <input class='form-control' data-rule-required='true' id='contact_name' name='contact[name]' placeholder='Name' type='text'>
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <div class='form-group control-group'>
                                        <input class='form-control' data-rule-email='true' data-rule-required='true' id='contact_email' name='contact[email]' placeholder='E-Mail' type='text'>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <div class='form-group control-group'>
                                        <textarea class='form-control' data-rule-required='true' id='contact_message' name='contact[message]' placeholder='Your message...'></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <button class='btn btn-contrast btn-block' type='submit'>
                                                Send message
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->