currentHeaderFilename = currentHeader_1.txt, currentHeader_2.txt, currentHeader_3.txt, currentHeader_4.txt, currentHeader_5.txt, currentHeader_6.txt
newHeaderFilename = newHeader.txt
currentHeaderFilenamePython = currentHeaderPython.txt
newHeaderFilenamePython = newHeaderPython.txt
fileExtension = .py
root = ../..
log = Log.txt
