textPatterns = intel-analytics,taproot-analytics!/intel/,/taproot/!@taproot.com,@intel.com
textPatterns_2 = .Intel.taproot.,.intel.taproot.!.Intel.taproot,.intel.taproot!Intel.taproot.,intel.taproot.
textPatterns_1 = .intel.,.Intel.taproot.!.intel,.Intel.taproot!intel.,Intel.taproot.
textPatterns_0 = com.intel.intelanalytics,com.intel.analytics![intelanalytics],[analytics]!intelanalytics,taprootanalytics!IntelAnalytics,TapRootAnalytics!Intel Analytics,TapRoot Analytics
fileAndDirectoryPatterns = intelanalytics,taprootanalytics!intel,taproot
fileExtensions = .scala,.java,.py,.rst,.conf,.xml,.sh,.html,.sdl,.json,.build,.tpl
filenames = pom.xml,doc
root = ../..
log = Log.txt