textPatterns = com.intel.intelanalytics,com.taproot.analytics!intel.analytics,taproot.analytics!.intel.,.taproot.!.intel,.taproot!intel.,taproot.!intel-analytics,taproot-analytics![intelanalytics],[analytics]!intelanalytics,taprootanalytics!IntelAnalytics,TapRootAnalytics!Intel Analytics,TapRoot Analytics!/intel/,/taproot/!@taproot.com,@intel.com
fileAndDirectoryPatterns = intelanalytics,taprootanalytics!intel,taproot
fileExtensions = .scala,.java,.py,.rst,.conf,.xml,.sh,.html,.sdl,.json
filenames = pom.xml
root = ../../../atk_name_migration
log = Log.txt