
<div class="alert alert-danger fade in hidden " id="loginError">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Error!</strong> We are having trouble accessing your Google account!
</div>

<div id="approvalPendingParent">
    <div class="alert alert-warning fade in hidden" id="approvalPending">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Notice!</strong> Account approval pending.
    </div>
</div>

<div id="authenticationFailedParent">
    <div class="alert alert-danger fade in hidden" id="authenticationFailed">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Error!</strong> We couldn't validate your registration
    </div>
</div>

<div id="registrationRequiredParent">
    <div class="alert alert-danger fade in hidden" id="registrationRequired">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Error!</strong> You are not registered
    </div>
</div>

<div id="accessRequiredParent">
    <div class="alert alert-danger fade in hidden" id="accessRequired">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Error!</strong> We can't complete your registration or sign you in if you don't grant us access to your
        google profile.
    </div>
</div>