@()
<footer id='footer' >
    <div id='footer-main'  >
        <div class='container'>
            <div class='row'>
                
                    <div class='row'>
                      
                        <div class='col-sm-6 col-xs-12 footer-left'>
                        <p><img class='intel-logo-footer' src='/assets/images/logo-intel.png'>Copyright &copy; 2013 Intel. All Rights Reserved. <a href='http://www.intel.com/content/www/us/en/legal/trademarks.html' target='_blank' id='trademarks-policy-homepage-link' title='view our trademark policy'>Trademarks</a>
                         | <a href='termsofuse' target='_blank' id='terms-of-use-policy-homepage-link' title='view our terms of use policy'>Terms of Use</a> | <a href='http://www.intel.com/content/www/us/en/privacy/intel-online-privacy-notice-summary.html' target='_blank' id='privacy-policy-homepage-link' title='view our privacy policy'>  Privacy<a/> | <a href='http://www.intel.com/content/www/us/en/privacy/intel-cookie-notice.html' target='_blank' id='cookie-policy-homepage-link' title='view our cookie policy'>Cookies</a></p>
                        </div>
                        <div class='col-sm-6 col-xs-12 footer-right'>
                        <a class="btn btn-primary btn-xs" data-toggle="modal" href="mailto:graphtrialsupport@@intel.com" id='support-modal-link'>Get Support</a>
                        </div>
                    </div>

               
            </div>
        </div>
    </div>
</footer>