@(message: String, user: database.UserRow)

@main(message,user) {
                <div class='carousel-blur flexslider' >
                    <ul class='slides'>
                        <li class='item'>
                            <div class='container'>
                                <div class='row'>
                                    <div class='col-lg-12 animate'>
                                        <h1 class='big bounceInDown animated'>
                                            Explore. Analyze. Discover.
                                        </h1>
                                        <p class='normal fadeInRightBig animated'>Use graph analytics for better insights into your big data.</p>
                                        <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg  fadeInUpBig animated" id='request-an-invite-modal-slider1'>Got an Invite? Register!</a>
                                        <a class="googleLoginButton btn btn-contrast btn-bordered btn-lg  fadeInUpBig animated" id='request-an-invite-modal-slider2'>Already Registered? Sign In!</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class='item '>
                            <div class='container'>
                                <div class='row'>
                                    <div class='col-lg-12 animate'>
                                        <h2 class='big bounceInDown animate'>
                                            No-Compromise Accuracy.
                                        </h2>
                                        <p class='normal fadeInLeftBig animated'>Fully scalable to utilize ALL your data.</p>

                                        <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg  fadeInUpBig animated" id='request-an-invite-modal-slider2'>Got an Invite? Register!</a>
                                        <a class="googleLoginButton btn btn-contrast btn-bordered btn-lg  fadeInUpBig animated" id='request-an-invite-modal-slider2'>Already Registered? Sign In!</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class='item '>
                            <div class='container '>
                                <div class='row'>
                                    <div class='col-lg-12 animate'>
                                        <h2 class='big fadeInLeftBig animated'>Reach Valuable Insights Faster.</h2>
                                        <p class='normal fadeInRightBig animated'>Enhance data scientist productivity.</p>
                                        <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg  fadeInUpBig animated" id='request-an-invite-modal-slider3'>Got an Invite? Register!</a>
                                        <a class="googleLoginButton btn btn-contrast btn-bordered btn-lg  fadeInUpBig animated" id='request-an-invite-modal-slider2'>Already Registered? Sign In!</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
          
                    </div>
                </div>
                <div class='fade' id='scroll-to-top'>
                    <i class='fa-icon-chevron-up'></i>
                </div>
}
