@(message: String, user: models.database.UserRow)

@import play.api.Play
@import play.api.Play.current

@mainLoggedIn(message, user) {
    <div id='main-content'>

        <div id='main-content-upload'>
            <div>
                <div class="row-fluid" >
                    <div class='span-12'>
                            <iframe  id='ipython' src="https://@user.ipythonUrl" ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>
}