@()

<script src="@routes.Assets.at("javascripts/jquery/jquery.mobile.custom.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/modernizr/modernizr.custom.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/hover_dropdown/twitter-bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/retina/retina.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/flexslider/jquery.flexslider.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/lightbox/lightbox.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/cycle/jquery.cycle.all.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/Tribeca.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/combined.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/js-func.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/forms.js")"></script>
<script src="@routes.Assets.at("javascripts/approvalPending.js")"></script>
<script src="@routes.Assets.at("javascripts/plugins/cookie/jquery.cookie.js")"></script>

@*<script src="@routes.Assets.at("javascripts/plugins/plupload/js/moxie.js")"></script>
<script src="@routes.Assets.at("javascripts/plugins/plupload/js/plupload.dev.js")"></script>*@
<script src="@routes.Assets.at("javascripts/plugins/plupload/js/plupload.full.min.js")"></script>


<script type="text/javascript">
(function() {
var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
po.src = 'https://apis.google.com/js/client:plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>

