@(user: models.database.UserRow)

<div class='collapse navbar-collapse navbar-header-collapse'>
    <ul class='nav navbar-nav navbar-right'>
        @if(user != null && user.uid.get > 0 ){
            @*<li class='dropdown' >
                <a href='faq.html' id='faq-page'>
                    <span>
                        FAQ
                    </span>
                </a>
            </li>*@
            <li class='dropdown' id='documentation-page'>
                <a href='documentation' >
                    <span>
                        API Documentation
                    </span>
                </a>
            </li>
            <li class='dropdown' id='ipython-page' >
                <a href='ipython' >
                    <span>
                        IPython Tutorial
                    </span>
                </a>
            </li>

            <li class='dropdown'>
                <a href="logout" id='logout-link'>
                    <span>
                        Sign Out @user.givenName @user.familyName
                    </span>
                </a>
            </li>

        } else {
        
        <li class='dropdown' id="requestInvite">
            <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='modal' href='#myModal' id='request-an-invite-modal'>
                <span>
                   Register for Use
                </span>
            </a>
        </li>
        <li class='dropdown'>
            <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='modal' href="">
                <span class="googleLoginButton" >Sign In</span>
            </a>
        </li>
        }
    </ul>
</div>