@charset "utf-8";
a {
text-decoration: none;
color: #ffffff;
}
html{
	height:100%;
	overflow-x:hidden;
}
body{
	margin:0;
	font-family: 'Lato', sans-serif;
	font-size:12px;
	line-height:1.5;
	text-align:center;
	height:100%;	
	color: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
@-o-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
/* 
Grid
--------------------------------------------------------------*/
.grid-2 {
	width:33%;
	float:left;
}
.grid-4 {
	width:70%;
	float:left;
}
/* 
Typography
--------------------------------------------------------------*/

/* FONT PATH
 * -------------------------- */

 @font-face {
  font-family: 'Intel Clear';
  src:  url('../fonts/IntelClear/IntelClear_Rg.ttf');
  font-weight: normal;
  font-style: normal;
 } 


 @font-face {
  font-family: 'Intel Clear Light';
  src:  url('../fonts/IntelClear/IntelClear_Lt.ttf');
  font-style: normal;
 } 


h1 {
	font-size: 3.7em;
	letter-spacing: 0.20em;
	color:#fff;
	text-align:left;
	line-height:2.0em;
	font-family: Intel Clear Light, Verdana;
	padding-left: 30px;
}

h1 span {
	color: #0071c5;
}
h2 {
	text-transform:none;
	font-size: 16px;
	text-align: left;
	font-family: Intel Clear, Verdana;
}

/* 
Content Styles
--------------------------------------------------------------*/
#wrapper{
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:1;
opacity:1;
}

.clear{
	float:none;
	clear:both;
}
.respimg{
	width:100%;
	height:auto;
}
#main {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
}
.container {
	max-width: 800px;
	width:92%;
	margin:0px auto;
	position: relative;
	zoom:1;
	z-index:2;
	opacity:0;
	left:25%;
}
.bg {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	background-image:url(../images/bg/hdfs.jpg);
	background-size: cover;
	-webkit-background-size:cover;
	background-attachment: fixed;
	background-position: center;
}
.bg-overlay {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
	opacity:0.5;
	background:#000 ;
}
.info-decor-holder{
	position:fixed;
	top:0;
	right:0;
	width:50%;
	height:100%;
	z-index:4;
	display:none;
}
.info-decor {
	position:relative;
	float:left;
	width:33.3333333%;
	height:50%;
	background:rgba(255,255,255,0.5);
}
.bottom-separator {
	float:left;
	width:250px;
	height:4px;
	margin:20px 0;
}

/*
Page preload ------------------------------------*/

#jpreOverlay {
	background: #fff;
}
#jpreLoader{
	position:relative;
	width:250px;
	height:150px;
	margin:-75px 0 0 0;
	top:50%;
	left:0;
	position:absolute;
	z-index:1;
}
#jpreBar  {
	width:250px !important;
	height:2px !important;
	position:absolute;
	top:50px;
	left:50% !important;
	margin-left:-125px;
}
#jprePercentage {
	font-size: 18px;
}

/* 
Home
--------------------------------------------------------------*/
.home-box {
	width:99%;
	float:left;
	margin-top:50px;
	background: rgba(0,0,0,0.3);
}
.header{
	float:left;
	position:relative;
	width:100%;
	padding:20px 0 10px;
	border-bottom:1px solid rgba(255,255,255,0.6);
	z-index:10;
}
.logo-holder {
	float:left;
}
.progress-holder {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
}
.progress {
	position:absolute;
	top:-1px;
	left:0;
	width:50px;
	height:5px;
	cursor:pointer
}
.progress  span{
	width:50px;
	height: auto;
	line-height: 20px;
	padding: 2px 4px;
	left: 50%;
	margin-left: -25px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background: #292929;
	text-indent: 0px;
	position: absolute;
	bottom: -36px;
	opacity: 0;
	visibility: visible;
	pointer-events: none;
	-webkit-transform:   scale(1.5);
	-moz-transform:   scale(1.5);
	-o-transform:  scale(1.5);
	-ms-transform:   scale(1.5);
	transform:  scale(1.5);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.progress  span:after{
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	margin-top:2px;
	pointer-events: none;
}
.progress  span:after{
	border-bottom-color: #292929;
	border-width: 6px;
	margin-left: -6px;
	margin-top:-4px;
}
.progress:hover span , .progress span.visprogress{
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate(0px) rotate(0deg) scale(1);
	-moz-transform: translate(0px) rotate(0deg) scale(1);
	-o-transform: translate(0px) rotate(0deg) scale(1);
	-ms-transform: translate(0px) rotate(0deg) scale(1);
	transform: translate(0px) rotate(0deg) scale(1);
}
.info-holder{
	position:absolute;
	top:0;
	right:0;
	width:50%;
	height:100%;
	z-index:5;
}

.logo-holder {
	margin:10px auto;
	max-width:218px;
}

/* 
Counter
--------------------------------------------------------------*/
.counter-holder{
	margin:0 auto;
	padding:50px 20px;
	max-width:1000px;
	position:relative;
	z-index:9;
	opacity:0;
	top:-2%;
}
ul.countdown {
	float:right;
    list-style: none;
    padding: 0px 30px 0px 0px;
    display: block;
    text-align: left;
    min-height: 220px;
}
ul.countdown li {
	display: inline-block;
	font-family: Intel Clear, Verdana;

}
ul.countdown li span {
	display: block;
	font-size:6.6em;
	color:#fff;
	font-weight:700;
}
ul.countdown li p {
	font-size: 16px;
	position:relative;
	color:#fff;
	margin-top:10px;
}
.slides li{
	text-align:left;
	float:left;
	width:100%;
	position:relative;
	overflow:hidden;
}
/* 
About
--------------------------------------------------------------*/
#photo-slider {
	position:relative;
	float:left;
	margin-top:50px;
	margin-bottom:20px;
	width:100%;
}
.home-slider-holder{
	position:fixed;
	top:0;
	left:0;
	z-index:25;
	width:50%;
	height:100%;
}
.home-slider {
	max-width:800px;
	padding:6px;
	margin:45% auto;
	position:relative;
	color:#fff;
}
/* 
Contact
--------------------------------------------------------------*/
#contact p {
	margin-top:40px;
}
.contact-details li {
	width:100%;
	float:left;
	margin-bottom:20px;
}
.contact-details li h3 {
	font-size:18px;
	font-family: Raleway, Open Sans, Arial, sans-serif;
	font-weight:700
}
.contact-details li i {
	width:40px;
	height:40px;
	font-size:16px;
	color:#fff;
	line-height:40px;
	text-align:center;
	margin-right:20px;
	border-radius:4px;
}
.contact-details li a {
	color:#666;
	margin-left:70px;
	font-size:17px;
	font-weight:700;
}
/* Contact form */
	
#contact-form {
	text-align:center!important;
	width:100%;
	margin:0 auto;
}	
#contact-form input[type="text"], textarea {
	color: #fff;
	font-size: 15px;
	height: 40px;
	line-height:20px;
	width: 100%;
	padding-left:10px;
	background: none;
	margin-bottom:20px;
	border:0;
	border:1px solid #fff;
	-webkit-appearance: none;
    border-radius: 0;
}	
#contact-form input[type=text]:focus, #contact-form textarea:focus, input[type=email]:focus {
	color:#fff;
}	
#contact-form textarea {
	padding-top:10px;
	height:160px;
	resize:none;
}	
#contact-form input[type="submit"]	{
	float:right;
	color:#fff;
	font-size: 12px;
	background:none;
	border:none;
	text-transform:uppercase;
	padding:10px 15px;
	letter-spacing:0;
	line-height:14px;
	cursor:pointer;
	text-align:center;
	-webkit-appearance: none;
    border-radius: 0;
}	
#contact-form input[type="submit"]:hover{
	background:#fff;
}	
.error_message {		
	text-align:center;		
	margin-bottom:30px;
	font-size:13px;		
	color:#c33;				
}	
#success_page h3{		
	text-align:left;
	font-size:18px;
	color:#fff;
}		
#success_page p {		
	color:#fff;		
	margin-top:20px;
	text-align:left;
	text-shadow: 4px 4px 14px rgba(150, 150, 150, 1);		
}	
#message fieldset {		
	border:none;
	color:#fff;		
}
/* 
Subcribe
--------------------------------------------------------------*/

.button {

	background: none;
	background: none;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #0071c5;
	display:inline-block;
	color:#ffffff;
	font-family: Intel Clear;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:90%;
	text-decoration:none;
	text-align:center;
	text-shadow:none;
	float: left;
}
.button:hover {
	background: rgba(0,0,0,0.6);
	background-color:rgba(0,0,0,0.6);
}.button:active {
	position:relative;
	top:1px;




/* 
Twitter
--------------------------------------------------------------*/
.twitter-feed-holder {
	float:left;
	width:100%;
	position:relative;
	min-height:350px;
}
.twitter-feed-icon {
	font-size:254px;
	position:absolute;
	top:20%;
	left:50%;
	width:100%;
	opacity:0.5;
	text-shadow: 4px 4px 14px rgba(150, 150, 150, 1);
}
.twitter-feed {
	margin-top:25px;
}
.twitter-feed li {
	margin:0 auto;
	font-size:26px;
	cursor:move;
	z-index:1;
	padding:10px 0 10px 0;
}
.twitter-feed li  a {
	color:#666;
	border-bottom:1px  dotted rgba(255,255,255,0.6);
	text-shadow: 4px 4px 14px rgba(150, 150, 150, 1);
}
.customNavigation {
	margin-top:10px;
}
.customNavigation a {
	display:inline-block;
	margin-right:-1px;
	cursor:pointer;
	width:30px;
	height:30px;
	line-height:30px;
	color:#fff;
}
.customNavigation a i {
	font-size:18px;
}
/* 
Social
--------------------------------------------------------------*/
.social-list {
	width:100%;
	float:left;
	margin-top:60px;
	padding-bottom:40px;
}
.social-list ul {
	float:right;
}
.social-list li {
	display:inline-block;
	width:50px;
	height:50px;
}
.social-list li a {
	color:#fff;
	border:1px solid rgba(255,255,255,0.6);
	font-size:20px;
	line-height:50px;
	display:block;
	text-align:center;
}
.social-list li a:hover{
	background:#fff;	
}
/* 
Css animation
--------------------------------------------------------------*/
.acttab{
	-webkit-animation: fadeIn 1s linear;
	-moz-animation: fadeIn 1s linear;
	animation: fadeIn 1s linear;
}
@-webkit-keyframes fadeIn {
	0% {
		left:25%;
		opacity: 0;		
	}
	100% {
		left:0;
		opacity: 1;	
	}		
}
@-moz-keyframes fadeIn {
	0% {
		left:25%;
		opacity: 0;		
	}
	100% {
		left:0;
		opacity: 1;	
	}
}
@keyframes fadeIn {
	0% {
		left:25%;
		opacity: 0;		
	}
	100% {
		left:0;
		opacity: 1;	
	}		
}
.transition{
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.transition2{
	-webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}
.scale-small {
	-webkit-transform: scale(0);
	-moz-transform:scale(0);
	transform: scale(0);
	opacity:0;
}
.scale-callback {
	-webkit-transform: scale(1);
	-moz-transform:scale(1);
	transform: scale(1);
	opacity:1;
}
/* 
Color style
--------------------------------------------------------------*/
::selection {background: #72A8CA; }
::-moz-selection {background: #72A8CA;}
.subscriptionForm input#submitButton:hover , .twitter-feed-icon , .social-list li a:hover , #jprePercentage , #contact-form input[type="submit"]:hover , .color-text {
	color:#72A8CA;
}
.bottom-separator  , .navigation li a span , .progress , #contact-form input[type="submit"] , .contact-details li i , .subscriptionForm input#submitButton ,#jpreBar , .info-holder h2 span.header-decor {
	background:#72A8CA;
}

/* RESPONSIVE -------------------------------------------------------------------- */
@media only screen and  (max-width: 1360px) {
.home-slider {
	margin:60% auto;
}
}
	
@media only screen and  (max-width: 1024px) {
.counter-holder {
	margin-top:-9%;
}

}
@media only screen and  (max-width: 959px) {
.info-holder  , .info-decor-holder  , .subcribe{
	width:100%;
}
.subcribe {
	margin-top:20px;
}
.slides li{
	margin-bottom:30px;
}
.home-slider-holder{
	left:-50%;
	z-index:1;
}
.counter-holder{
	padding:10px 20px;
}
ul.countdown li{
	width:150px;
	height:150px;
}
ul.countdown li span {
	font-size:5.6em;

}
ul.countdown li p {
	font-size: 14px;
}
h1 {
	font-size:2.00em;
	text-align:center;
}
.social-list {
	margin-top:40px;
}
.social-list ul {
	float: none;
}
.twitter-feed-holder {
	min-height:250px;
}
.twitter-feed li {
	font-size:18px;
}
.twitter-feed-icon {
	left:50%;
	top:20%;
	opacity:0.3;
	font-size:120px;
}
.customNavigation {
	margin-top:0;
}
}
@media only screen and  (max-width: 900px) {
.grid-4 , .grid-2{
	width:100%;
}

}
@media only screen and  (max-width: 540px) {

.subscriptionForm input.inputForm , .subscriptionForm input#submitButton{
	width:100%;

}
.subscriptionForm input.inputForm {
	text-align:center !important;
}
.subscriptionForm input#submitButton{
	margin:20px 0 6px;
}
.navigation li a {
	font-size:11px;
	padding:10px 0;
}
ul.countdown li {
	padding:0;
}
.twitter-feed-icon {
	font-size:120px;	
}
}

.color-text {
	color: blue;
}

.textbox {
	height: 400px;
}

#footer {
	width:100%;
height:80px;
position:absolute;
bottom:0;
left:0;
background:#ee5;}
